<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Задача о ходе коня онлайн</title>
    <meta name="description" content="Задача о ходе коня. Пройди шахматным конем все поля доски без повторений. Доступны доски размеров 3x4, 5x5, 6x6, 7x7, 8x8, 9x9, 10x10">
    <meta name="keywords" content="Задача о ходе коня online, Шахмтатная задача, Ход конем игра, Игра шахматный конь,">
</head>

<body>
    <link rel="stylesheet" type="text/css" href="lib/bootastrap-4.4.1/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <h1 class="card-title text-muted">Ход конем.</h1>
                <p class="card-text text-muted">Пройди шахматным конем все поля доски без повторений. <br>Выбери любой уровень.</p>

                <div id="horsemove">

                    <template v-for="level in levels">
                        <button 
                            class="btn btn-outline-secondary" 
                            v-bind:class="[
                                    {'active': (board_rows == level.row && board_cols == level.col)}, 
                                    {'mr-1': (level.row < 10)},
                                ]" 
                            v-on:click="getBoard(level.row, level.col)">{{ level.row }}x{{ level.col }}</button> 
                    </template>

                    <hr>

                    <table class="table-board mb-3">
                        <tr v-for="row in board">
                            <template v-for="cell in row">
                                <td v-bind:class="[{'played': cell.played != 0 }, {'current': cell.current }, {'available': cell.available }]" v-on:click="cellClick(cell)">
                                    <span v-if="cell.played && !cell.current">
                                    {{ cell.played }}
                                    </span>
                                </td>
                            </template>
                        </tr>
                    </table>

                    <div class="mb-2">
                        <button 
                            class="btn btn-secondary" 
                            v-bind:disabled="played < 1" 
                            v-on:click="getBoard(board_rows, board_cols)">Сбросить</button>
                        <button 
                            class="btn btn-secondary" 
                            v-bind:disabled="played < 2" 
                            v-on:click="undo">Ход назад</button>
                    </div>
                    <p class="text-muted">{{game_result}} &nbsp;</p>
                </div> <!-- horsemove -->

            </div> <!-- card body -->
        </div> <!-- card -->

        <div class="text-center mt-2">
            <a target="_blank" class="text-muted" href="https://github.com/dimadroog/horsemove">https://github.com/dimadroog/horsemove</a>
        </div>

    </div>
    
    <script src="lib/vue/vue.min.js"></script>
    <script src="js/script.js"></script>

</body>

</html>